.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
input{
    width: 50%;
    border:none;
    border-bottom: 2px solid gray;
    margin: 5px;
    padding: 2px 6px;
}

button{
    width: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
}