body{
    display: flex;
    flex-direction: row;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;

}
img{
    max-width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
}

nav{
    display: flex;
    gap: 15px;
}

/* .text{
    display: flex;
} */
.entry{
    display: flex;
    margin-bottom: 40px;
}
div.entry img{
    width: 50%;
    height: 50vh;
    padding-right: 10px ;
}
div.entry p.title{
    font-weight: 700;
}